@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@600;700;800;900&display=swap");
::selection {
  background: #44636e88;
}

@font-face {
  font-family: FUNGIS-Heavy;
  src: url("../public/fonts/fungis/FUNGIS-Heavy.otf") format("opentype");
}
@font-face {
  font-family: Ageo;
  src: url("../public/fonts/ageo/AgeoPersonalUse.otf") format("opentype");
}
@font-face {
  font-family: Ageo-Bold;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Bold.otf") format("opentype");
}
@font-face {
  font-family: Ageo-ExtraBold;
  src: url("../public/fonts/ageo/AgeoPersonalUse-ExtraBold.otf")
    format("opentype");
}
@font-face {
  font-family: Ageo-Heavy;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Heavy.otf") format("opentype");
}
@font-face {
  font-family: Ageo-Light;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Light.otf") format("opentype");
}
@font-face {
  font-family: Ageo-Medium;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Medium.otf") format("opentype");
}
@font-face {
  font-family: Ageo-SemiBold;
  src: url("../public/fonts/ageo/AgeoPersonalUse-SemiBold.otf")
    format("opentype");
}
@font-face {
  font-family: Ageo-Thin;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Thin.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ageo" !important;
  background-image: url("../public/images/bg4.svg") !important;
  color: #c5c5c5 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
