::selection {
  background: #c4efff;
}

@font-face {
  font-family: Ageo;
  src: url("../public/fonts/ageo/AgeoPersonalUse.otf") format("opentype");
}
@font-face {
  font-family: Ageo-Bold;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Bold.otf") format("opentype");
}
@font-face {
  font-family: Ageo-ExtraBold;
  src: url("../public/fonts/ageo/AgeoPersonalUse-ExtraBold.otf")
    format("opentype");
}
@font-face {
  font-family: Ageo-Heavy;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Heavy.otf") format("opentype");
}
@font-face {
  font-family: Ageo-Light;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Light.otf") format("opentype");
}
@font-face {
  font-family: Ageo-Medium;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Medium.otf") format("opentype");
}
@font-face {
  font-family: Ageo-SemiBold;
  src: url("../public/fonts/ageo/AgeoPersonalUse-SemiBold.otf")
    format("opentype");
}
@font-face {
  font-family: Ageo-Thin;
  src: url("../public/fonts/ageo/AgeoPersonalUse-Thin.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ageo" !important;
  background-image: url("../public/images/bg.svg") !important;
  color: #1f2d3d !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
